@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@500&display=swap");

a {
  color: black !important;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
  margin-left: 20px;
}
